faiss-cpu
fire

google-auth
google-cloud-aiplatform==1.115.0

langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
langchain-openai==0.1.23
langchain-google-vertexai==1.0.10

numpy==1.26.4
openai==1.109.1
openpyxl
pandas
pyarrow

rank-bm25==0.2.2

tabulate
tenacity==8.5.0
tiktoken
tqdm
transformers